<div class="content">
<div class="grid">
    
    <div class="col-12 lg:col-6" [@list2]>
        <a href="https://robtrostle.github.io/movie-vault/" 
        target="_blank" 
        rel="noopener"
        >
        <div class="text-center p-3 border-round-sm bg-primary font-bold">Movie Vault</div>
        </a>
    </div>

    <div class="col-12 lg:col-6" [@list2]>
        <a href="https://robtrostle.github.io/astronomy-picture-of-the-day/" 
        target="_blank" 
        rel="noopener"
        [@list2]>
        <div class="text-center p-3 border-round-sm bg-primary font-bold">Astronomy Picture of the Day</div>
        </a>
    </div>

    <div class="col-12 lg:col-6" [@list2]>
        <a href="https://robtrostle.github.io/recipe-book/auth" 
        target="_blank" 
        rel="noopener"
        [@list2]>
        <div class="text-center p-3 border-round-sm bg-primary font-bold">Recipe Book</div>
        </a>
    </div>

    <div class="col-12 lg:col-6" [@list2]>
        <a href="https://oceans-four.github.io/crypto-watcher-ui/" 
        target="_blank" 
        rel="noopener"
        [@list2]>
        <div class="text-center p-3 border-round-sm bg-primary font-bold">Crypto Watcher</div>
        </a>
    </div>

</div>
</div>