<div class="content">
  <p-avatar
    image="assets/ME.PNG"
    styleClass="mr-2"
    size="xlarge"
    shape="circle"
  ></p-avatar
  ><span class="name">Robert Trostle</span>
</div>

<div class="content">
  <p-card
    header="Full Stack Engineer"
    subheader=""
    [style]="{ width: '360px' }"
  >
    <ng-template pTemplate="header">
      <img
        alt="Card"
        src="https://www.science.org/do/10.1126/science.adg2088/abs/_20221208_on_aiwritescode.jpg"
      />
    </ng-template>
    <p>
      Welcome! I'm a Full Stack Software Engineer with a strong proficiency in leveraging Angular, React and Java Spring Boot to design and develop dynamic web applications.
    </p>
    <ng-template pTemplate="footer" class="buttons">
      <p-button
        pRipple
        icon="pi pi-wrench"
        label="Skills"
        styleClass="p-button-raised p-button-danger mr-2 mb-2"
        (click)="showDialog()"
      ></p-button>
      <p-button
        pRipple
        [routerLink]="['/projects']"
        routerLinkActive="router-link-active"
        icon="pi pi-folder-open"
        label="Projects"
        pTooltip="View my live demos"
        tooltipPosition="bottom"
        styleClass="p-button-warning"
        [style]="{ 'margin-left': '.5em' }"
      ></p-button>
      <a
        appHighlight
        aria-label="Rob on Github"
        target="_blank"
        rel="noopener"
        href="https://github.com/robtrostle?tab=repositories"
        title="GitHub"
      >
        <p-button
          pRipple
          icon="pi pi-github"
          label="Git"
          styleClass="p-button-primary"
          [style]="{ 'margin-left': '.5em' }"
        ></p-button
      ></a>
    </ng-template>
  </p-card>

  <p-sidebar [(visible)]="sidebarVisible">
    <ng-template pTemplate="header">More About Me</ng-template>
    <ng-template pTemplate="content"
      >I am currently based in Jacksonville, Florida & work remotely. I started my full stack development career in March 2022. In my first project, we used
      Angular for front end, Java Spring Boot for the back end REST APIs, and
      MongoDB. I have worked on all 3 layers of the application & helped train
      our document AI model using Python. We used Jenkins for CI/CD
      deployments and OpenShift Container Platform. I used ServiceNow to initiate
      releases and participated from start until the end of the deployment
      process. The app is mobile friendly and fully accessbile. In my current project, our tech stack uses Java Spring Boot, React, Gitlab pipelines, AWS EKS/S3, and Oracle SQL. My industry knowledge includes Financial Services and Insurance. My long term goal is to be "Tech stack agnostic". I enjoy learning new skills and challenging myself. I also have experience in Data Analytics and Quality Engineering & Automation. Take a look
      around & send me a message through my contact form for any reason.</ng-template
    >
    <ng-template pTemplate="footer">Thanks for visiting!</ng-template>
  </p-sidebar>
</div>

<div class="container2" style="background-color: transparent">
  <div class="button-container" style="background-color: transparent">
    <p-button
      pRipple
      label="More"
      tooltipPosition="right"
      pTooltip="More about Rob"
      class="button"
      (click)="sidebarVisible = true"
      icon="pi pi-spin pi-info-circle"
    ></p-button>

    <p-button
      pRipple
      label="Info"
      tooltipPosition="right"
      pTooltip="About this site"
      class="button2"
      (click)="showInfoDialog()"
      icon="pi pi-prime"
    ></p-button>
  </div>
</div>

<div  class="card flex justify-content-center">
  <p-dialog id="scroll" header="Header" [(visible)]="visible">
    <ng-template pTemplate="header">
      <span class="text-xl font-bolder">Skills & Tools</span>
    </ng-template>

    <div class="card flex justify-content-center">
      <p-scroller
        [items]="items"
        [itemSize]="50"
        scrollHeight="300px"
        styleClass="border-1 surface-border"
        [style]="{ width: '18rem', height: '30rem' }"
      >
        <ng-template pTemplate="item" let-item let-options="options">
          <div
            class="flex align-items-center p-2"
            [ngClass]="{ 'surface-ground': options.odd }"
            style="height: 50px"
          >
            {{ item }}
          </div>
        </ng-template>
      </p-scroller>
    </div>

    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-check"
        (click)="visible = false"
        label="Ok"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>

<!-- ------------------------------------------Info Section---------------------------------- -->

<div class="card flex justify-content-center">
  <p-dialog id="info" header="Header" [(visible)]="visibleInfo">
    <ng-template pTemplate="header">
      <span class="text-xl font-bolder">Hi there</span>
    </ng-template>
    I build this site using Angular and 
    <a style="color: #f6a668;" href="https://primeng.org/" target="_blank">PrimeNG</a> components
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-check"
        (click)="visibleInfo = false"
        label="Ok"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>
